<span style=color:red;font-size:60px>ASSIGNMENT</span>

<span style =color:blue;font-size:50px>PANDAS ADVANCE-1</span>

<span style=color:green>Q1. List any five functions of the pandas library with execution.</span>

Ans-

***Certainly! Here are five functions from the Pandas library with example executions:***

In [ ]:
import pandas as pd

In [ ]:
my_datas={
    'Name':['Osama','Yasir','Kallu'],
    'Sec':['A1','A2','B2'],
    'Phone':[9889,9778,7667]
    
}

In [ ]:
# 1-DataFrame
df=pd.DataFrame(my_datas)
print(df)

In [ ]:
# 2-Read_csv
df1=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
df1

In [ ]:
#3- DataFrame.head
df1.head()

In [ ]:
# 4- DataFrame.describe
df1.describe()

In [ ]:
# 5-Datatypes
df1.dtypes

<span style=color:green>Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.</span>

Ans-

In [ ]:
import pandas as pd


data = {'A': [10, 20, 30],
        'B': [40, 50, 60],
        'C': [70, 80, 90]}
df = pd.DataFrame(data)

# Re-index the DataFrame
df.index = range(1, len(df) * 2, 2)

# Display the DataFrame with the new index
print(df)

<span style=color:green>Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.</span>

Ans-

In [ ]:
import pandas as pd

# sample of dataframe
data={'values':[10,20,10,20,40,33]}
df=pd.DataFrame(data)

def cal_sum_of_3(df):
    if 'values' in df:
        my_total=df['values'].head(3).sum()
        print("sum of first 3:",my_total)
    else:
        ("don't have values")
         
cal_sum_of_3(df)

<span style=color:green>Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.</span>

Ans-

In [ ]:
import pandas as pd


# create dataframe
my_data={'Text':['Myself Osama','I am Data Engineer','I am from Gorakhpur Uttar Pradesh India']}
df=pd.DataFrame(my_data)

def word_count_column(df):
    df['Word Count']=df['Text'].apply(lambda x:len(str(x).split()))
    return df
df=word_count_column(df)

print(df)

<span style=color:green>Q5. How are DataFrame.size() and DataFrame.shape() different?</span>

Ans-

***In the context of pandas, a popular Python library for data manipulation and analysis, DataFrame.size and DataFrame.shape are two different attributes that provide information about the dimensions of a DataFrame. Here's how they differ:***

***1-DataFrame.size():***

DataFrame.size returns the total number of elements in the DataFrame, which is essentially the product of the number of rows and columns.
It represents the total number of data points in the DataFrame, including all cells.

In [ ]:
import pandas as pd

data={'A':[1,2,3,7], 'B':[4,5,7,8]}
df=pd.DataFrame(data)
print(df.size)

***2-DataFrame.shape():***

DataFrame.shape returns a tuple representing the dimensions of the DataFrame. It provides the number of rows and columns in the DataFrame.
It does not give you the total number of elements, only the structure (number of rows and columns).

In [ ]:
import pandas as pd

data={'A':[1,2,3,7], 'B':[4,5,7,8], 'C':[2,4,6,8]}
df=pd.DataFrame(data)
print(df.shape)

<span style=color:green>Q6. Which function of pandas do we use to read an excel file?</span>

Ans-


In pandas, you can use the read_excel function to read data from an Excel file. Here's the basic syntax for using this function:

In [4]:
import pandas as pd
df=pd.read_excel("LUSID Excel - Setting up your market data.xlsx")

In [5]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Datetimes in LUSID,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,This sheet allows you to format datetimes for...,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,If you have any questions please visit our:,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,Getting Started tutorials,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,Knowledge Base articles,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,or Contact us,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,LUSID accepts datetimes in any recognised Exce...,NaN,NaN,"LUSID also accepts UTC, UTS offsets and cutlabels",NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,Excel formats to show datetime,NaN,NaN,Additional formats,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,Enter the date to convert,2019-04-10 00:00:00,NaN,Standard UTC timestamp:,"""YYYY-MM-DDTHH:MM:SS.00Z""","Where Z indicates Zulu time (UTC+0), and is eq..."
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,This date has no time component,2019-04-10 00:00:00,NaN,Convert date into a string,2019-04-10T 13:30:45.55Z,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,Specify time component,13:30:45.550000,NaN,UTC offset (not recognised as an excel date),2019-04-10T13:30:45+04:00,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,Add to your date and display the complete date...,2019-04-10 13:30:45.550000,NaN,Cutlabel,2019-04-10NSingaporeClose,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,Although the date can still appears without time,2019-04-10 13:30:45.550000,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,Add an hour to your datetime,2019-04-10 14:30:45.550000,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,Subtract a minute from your datetime,2019-04-10 14:29:45.550000,NaN,NaN,NaN,NaN

<span style=color:green>Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.


<span style=color:green>The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.</span>

Ans-

In [ ]:
import pandas as pd

# datafrane
data={"Email":["useruser@gmail.com","lol@domain.com","oss@domain.com"]}
df=pd.DataFrame(data)

# split username function
def split_username(email):
    return email.split('@')[0]
# creating username column

df["Username"]=df["Email"].apply(split_username)

print(df)

<span style=color:green>Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.</span>

Ans-

In [13]:
import pandas as pd

data={"A":[3,8,6,2,9],
      "B":[5,2,9,3,1],
      "C":[1,7,4,5,2]}
df=pd.DataFrame(data)

# create function

def select_my_raw(df):
    select_my_raw=df[(df["A"] > 5) & (df["B"] < 10)]
    return select_my_raw
here_result=select_my_raw(df)

print(here_result)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

<span style=color:green>Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.</span>

Ans-

In [13]:
import pandas as pd
data = {'Values': [10, 15, 20, 25, 30]}
df = pd.DataFrame(data)
def calculate (df):
    if 'Values' in df.columns:
        mean=df['Values'].mean()
        median=df['Values'].median()
        standard_deviation=df['Values'].std()
        return mean,median,standard_deviation
    else:
        raise ValueError('Value column not availabe')
        
result_mean, result_median, result_std_dev = calculate(df)
print(f"Mean: {result_mean}, Median: {result_median}, Standard Deviation: {result_std_dev}")

Mean: 20.0, Median: 20.0, Standard Deviation: 7.905694150420948

<span style=color:green>Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.</span>

Ans-

In [18]:
import pandas as pd

# Sample DataFrame with 'Sales' and 'Date' columns
data = {'Date': ['2023-11-04', '2023-11-05', '2023-11-06', '2023-11-07', '2023-11-08', '2023-11-09', '2023-11-10'],
        'Sales': [100, 120, 130, 110, 150, 140, 160]}
df = pd.DataFrame(data)

In [30]:
def moving_average(df):
    if 'Sales' in df.columns and 'Date' in df.columns:
        df['Date']=pd.to_datetime(df['Date'])
        df=df.sort_values(by='Date')
# calculate the rolling 7 days
        df['Movingaverage']=df['Sales'].rolling(window=7, min_periods=1).mean()
        return df
    else:
        raise  ValueError('sorry')
    df=moving_average(df)
print(df)

         Date  Sales
0  2023-11-04    100
1  2023-11-05    120
2  2023-11-06    130
3  2023-11-07    110
4  2023-11-08    150
5  2023-11-09    140
6  2023-11-10    160

<span style=color:green>Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:
Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.</span>

Ans-

In [35]:
import pandas as pd
data1={'Date':['2023-07-01','2023-07-02','2023-07-03','2023-07-04']}
df=pd.DataFrame(data1)
def creates_nw_columns(df):
    if 'Date' in df.columns:
        df['Date']=pd.to_datetime(df['Date'])
        df['Weekday'] = df['Date'].dt.strftime('%A') 
        return df
    else:
        raise ValueError('sorry')
creates_nw_columns(df)
print(df)

        Date   Weekday
0 2023-07-01  Saturday
1 2023-07-02    Sunday
2 2023-07-03    Monday
3 2023-07-04   Tuesday

<span style=color:green>Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.</span>

Ans-

In [1]:
import pandas as pd


data = {'Date': ['2023-01-01', '2023-01-15', '2023-01-20', '2023-02-05']}
df = pd.DataFrame(data)

def select_rows_between_dates(df):
    if 'Date' in df.columns:
        df['Date'] = pd.to_datetime(df['Date'])  
        
        
        start_date = pd.to_datetime('2023-01-01')
        end_date = pd.to_datetime('2023-01-31')
        
       
        selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
        
        return selected_rows
    else:
        raise ValueError("DataFrame must have a 'Date' column")


selected_rows = select_rows_between_dates(df)
print(selected_rows)

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-20

<span style=color:green>Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?</span>

Ans-

To use the basic functions of Pandas, you need to import the Pandas library itself. You can do this by using the import statement in Python. Here's how you typically import Pandas:

In [1]:
import pandas as pd